body{

    font-family: Arial,sans-serif;
    background-color: hsl(0,0,95%);
}


h1{
    color: hsl(223, 100%, 64%);
}

form{
    background-color: hsl(0, 7%, 66%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0, 0, 0.293);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 4px ;
    margin-bottom: 15px;
}


label{
    font-size: 1em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: red;
    font-size: 1.5em;   
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    color: antiquewhite;
    cursor: pointer;
    transition: ease-in-out 0.15s;
}

button:hover{
    background-color: black;
}



#result{
    font-size: 1.75em;
    font-weight: bold;
}